a {
    color:blueviolet;
}

p {
    margin-left: 30px;
    text-indent: 30px;
}

body {
    background: darkslategrey;
    background-image: url(https://wallpapers.com/images/hd/black-and-white-anime-boy-p6y01crggk20wt5f.jpg);
    color: white;
    text-align: center;
    font-size:

}

.lista-centralizada{
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}


/*seletor classe*/
.robin {
    font-family: fantasy;
    font-size: 17pt;
}

/*seletor id*/
#fb2 {
    color:blueviolet;
    margin-left:;
}
<script>
 const texto = "Seja Bem Vindo!";
let i = 0;

function escrever() {
    if (i < texto.length) {
document.getElementById("fb2").innerHTML += texto.charAt(i);
    i++;
setTimeout(escrever, 80);
}



























/*tabela*/
table {
    font-family: Arial;
    text-align: right;
}

th {
    background-color: purple;
    color: white;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

tr:nth-child(even) {
    background-color: white;
}

a:hover {
    background-color: purple;
    color: white;
}


